Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.*
configure
.deps
.libs
*.o
*.a
*.tar.gz
*.tar.bz2
stamp-h1
ylwrap
man/*.man
src/defpath.h
src/gram.c
src/gram.h
src/pmgr.c
src/pmgr.h
src/scan.c
src/mip6d

